ul.nav, li.nav {
  position: relative;
  display:none;
  padding: 1vh 0;
  margin-right:3vw;
}
* {
  padding: 0;
}

ul.nav, li.nav {
  display: block;
}

div.nav:hover ul.nav, li.nav {
  display: block;
  animation: appear 2s;
}

@keyframes appear{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

ul {
  position: relative;
  margin: 15vh 1vw;
}

div.nav {
  position: absolute;
  background-color: #202020;
  margin:0;
  top:0px;
  left:-16vw;
  height: 100%;
  box-shadow: 0px 10px 10px;
  border-width: 1px;
  border-color: #242424;
  border-style: solid;
  z-index: 999;
  width: 19vw;
}

button.nava:link, button.nava:visited, button.nava {
  position: relative;
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: none!important;
  border: none;
}

button.nava:hover {
  color: rgb(141, 141, 141);
  cursor: grab;
  background: none!important;
  border: none;
}

button.nava:active {
  color:rgb(90, 90, 90);
  background: none!important;
  border: none;
}

a.nava:link, a.nava:visited {
  font-family: "'Impact', Charcoal, sans-serif";
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a.nava:hover {
  color: rgb(223, 223, 223);
}

a.nava:active {
  color:rgb(90, 90, 90);
}

a:link, a:visited {
  text-decoration: none;
  color: green;
}

a:hover {
  color: chartreuse;
}

a:active {
  color: grey;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
  width:100%; 
}

.components {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.components::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.blinking{
  animation:blinkingText 1.2s infinite;
  text-shadow: none;
}

@keyframes blinkingText{
  0%{color: white;}
  49%{color: white;}
  60%{color: transparent;}
  99%{color:transparent;}
  100%{color: white;}
}

code {
  font-variant: small-caps;
  color: rgb(212, 212, 212);
}

h1, h2, h3, button{
  margin: 0;
  font-family: "Courrier New", monospace;
  color: #202020;
}

h1 {
  font-size:3em;
}

.components {
  position: absolute;
  padding-bottom: auto;
  left: 22vw;
  margin: 0;
  top: 20vh;
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.logo {
  position: absolute;
  width:3vw;
  right: 0;
  top: 50vh;
  margin: .5vh .5vw;
  opacity: .5;
  content: url("../public/backward-arrow.svg");
  transition: all .5s ease-out;
  animation: blinkOut 2s infinite;
}

@keyframes blinkIn{
  0%{opacity:0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

@keyframes blinkOut{
  0%{opacity:0;}
  25%{opacity: .25;}
  50%{opacity: .5;}
  75%{opacity: .25;}
  100%{opacity: 0;}
}

div.nav:hover .logo {
  content: url("../public/forward-arrow.svg");
  opacity: 1;
  animation: blinkIn 2s;
}

.me {
  position: relative;
  left: 1vw;
  width: 15vw;
  margin: 2vh auto;
}

.experience {
  position:relative;
  padding: auto;
  margin: 1vh 1vw;
}

.range, .exp {
  margin: 2vh auto;
  display: inline-block;
}

.exp {
  position: absolute;
  left: 0;
}

.range {
  position: absolute;
  right: 0vw;
}

.range[id="school"] {
  right: 20vw;
}

.points, .point {
  margin: 0;
  margin-top: 2vh;
}

.points[id="school"] {
  width: 60vw;
  overflow-x: clip;
}

.point[id="school"] {
  margin: 1vh 0;
}

ul, li {
  position: relative;
  padding: 1vh 0;

  margin-right:3vw;
}

.exper {
  position: relative;
  height: 63vh;
  width: 60vw;
  left: 5px;
  overflow-y: scroll;
  overflow-x: clip;
  box-shadow: 0px 0px 5px 2px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.exper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

hr {
  margin: 1vh 0;
  width: 60vw;
}

.title {
  position: relative;
  top: 5vh;
  margin: 2vh 0;
}

.skillimg {
  width: 5vw;
  margin: 5vh 7.5vw;
  display: inline-block;
  -webkit-filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9)grayscale(100%);
  filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9)grayscale(100%);
}
.skillimg[id="portfolio"] {
  margin: 4vh 12.5vw;
}

.skillimg[id="lang"] {
  width: 2vw;
  margin: 0vh 2vw;
}

.skillimg:hover {
  -webkit-filter:grayscale(25%);
  filter: grayscale(25%);
  cursor: grab;
}

.skillimgs {
  margin: 0;
  overflow-x: clip;
  width: 60vw;
}
@media (min-width: 700px) {
  div.nav {
    transition: all .5s ease-out;
  }

  div.nav:hover {
    left: 0;
  }
}
@media (max-width: 700px) {
  .components {
    top: 0;
    height: 100vh;
  }

  h1 {
    margin: 7.5vh 0 0;
  }

  html {
    overflow: hidden;
  }
  .skillimg {
    width: 10vw;
    margin: 5vh 5vw;
    display: inline-block;
    -webkit-filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9)grayscale(100%);
    filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9)grayscale(100%);
  }
  .skillimg[id="portfolio"] {
    margin: 4vh 12.5vw;
  }
  
  .skillimg[id="lang"] {
    width: 7.5vw;
    margin: 0vh 2vw;
  }
  
  .skillimg:hover {
    -webkit-filter:grayscale(25%);
    filter: grayscale(25%);
    cursor: grab;
  }
  .logo {
    display: none;
  }

  div.nav {
    top: -95vh;
    height: 100vh;
    width: 102vw;
    left: 0;
  }

  div.nav:hover {
    top: 0;
  }
}